<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>State Report</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style type="text/css">
    table {
        width: 100%;
    }
    .first {
        width: 25%;
    }
    .second {
        width: 10%;
    }    
    .third {
        width: 40%;
    }
    .fourt { 
        width: 20%;
    }
    td {
        box-sizing: border-box;
        padding-right: 50px;
    }
   </style>

</head>
<body class="m-4"> 
    <div class="">
        <h2 class="">Logo</h2>
        <h1 class="text-center">States Report</h1>
    </div>
    <%state = nil
    @offices.each do |office|
        if office["state"] != state
            state = office["state"]%>
            <h2 class="p-2 border-bottom border-dark"><%= state %></h2>
            <table>
                <tr class="center-block">
                    <td class="first">Office</td>
                    <td class="second">Type</td>
                    <td class="third">Address</td>
                    <td class="fourt">LOB</td>
                </tr>
            </table>
        <%end%>
        <table>
            <tr class="center-block">
                <td class="first"><%= office["title"] %></td>
                <td class="second"><%= office["type"] %></td>
                <td class="third"><%= office["address"] %></td>
                <td class="fourt"><%= office["lob"] %></td>
            </tr>
        </table>
    <% end %>
</body>
</html>